$color:#FF5A00;
$bgcolor:#ECECEC;
#logo_pit {
    height: 86px;
    padding-top:20px;
    a{
        img{
           display:block;
        }
    }
}
#myFooter .f_bottom{
    background-color:#fff;
}
#main{   
    height: 610px;
    background-color:$bgcolor;
    padding-top:20px;
    
    .content{
        position:relative;
        height: 570px;
       background-color:#fff;
       width: 1000px;
       margin:0px auto; 
       // 登录、注册
       .theme{
        background-color:$bgcolor;
         height: 38px;
            >ul{
                .active{
                    color:$color;
                    z-index:99;
                    border-top:3px solid #f90;
                    border-bottom:#fff;
                  }
                margin:0 auto;
                width: 504px;
                height: 38px;
                display:flex;
                li{
                    border-bottom:none; 
                    border:1px solid #dedede;
                    position:relative;
                    background-color:#fff;
                    text-align:center;
                    flex:1;
                    float:left;
                    margin-left:10px;
                    line-height: 38px;
                    font-size:14px;
                        i{
                            width: 20px;
                            height: 20px;
                            float:left;
                            position:absolute;
                            left:80px;
                            top:10px;;                            
                            background:url('../img/register.png') -190px -8px no-repeat;
                        }
                        span{
                            font-weight:bold;
                          
                            }
                  }
                  
                  li:nth-child(2) {
                    i{
                    background:url('../img/register.png') -228px -8px no-repeat;
                  }
                  
              }
                
            }
       } 
       // 内容
       .info{
        width: 1000px;
        z-index:20;
        border:1px solid #dedede;
        position:absolute;
        top:37px;
        left:0px;
       }
       // 注册信息
       .reg_info{
         height: 532px;
         display:flex;
         i{
                        position:absolute;
                        top:10px;
                        right:60px;
                        display:block;
                        width: 20px;
                        height: 20px;
                    }
            .info_l{
                float:left;
                padding-top:40px;
                width: 498px;
                p:nth-child(-n+3){  
                position:relative;               
                    margin-bottom:27px;
                    input{
                        float:left;
                        height: 34px;
                        width:274px;                       
                        padding-left:5px;
                        border:1px solid #C1C1C1; 
                    }
                    
                    label{
                        line-height: 36px;
                        float:left;

                    }
                    
                }
                .p1{
                    i{
                       background:url('../img/register.png') -126px -8px; 

                    }
                }
                .p2 i{
                    background:url('../img/register.png') -159px -8px; 
                }
                .p3 {
                     position:relative;
                     margin-bottom:27px;
                     input{
                       
                        padding-left:5px;
                        height: 34px;
                        width:274px;  
                     }
                     i{
                        background:url('../img/register.png') -159px -8px; 
                     }
                   
                }
                input{
                    border:1px solid #C1C1C1;
                }
                label{
                      line-height: 36px;
                       float:left;
                        height: 36px;
                        width: 165px;
                        text-align:right;
                    }
                .notice{
                    display:none;
                    line-height: 22px;
                    position:absolute;
                    top:77px;
                    left:164px;
                    height: 22px;
                    width: 186px;
                    background-color:#ffedb5;
                    color:: #e60000;
                    border:1px solid #ff9900;
                    border-radius:3px;
                    span{
                        padding-left:24px;
                    }
                    i{
                        position:absolute;
                        top:3px;
                        left:4px;
                        display:block;
                        width: 16px;
                        height: 16px;
                        background:url('../img/all.png') -350px -50px no-repeat;
                    }
                }
               .check{
                    margin-bottom:20px;
                    label{
                        float:left;
                        line-height: 46px;
                    }
                    >div{

                        float:left;
                        height: 42px;
                        width: 279px;
                        border:1px solid #C1C1C1;
                        img{
                            border-radius:50%;
                            float:left;
                            margin:5px;
                            display:block;
                            width: 35px;
                            height: 33px;
                            background:url('../img/all.png') -270px -50px no-repeat;
                        }
                        p{
                            margin: 0;
                            padding: 0;
                            float:left;
                            text-align:left;
                            width: 188px;
                            height: 42px;
                            line-height: 42px;
                            font-size:14px;
                            position:relative;
                            i{
                                right:-34px;
                                background:url('../img/all.png') -320px -50px no-repeat;
                            }
                        }
                    }
                }
                .code{
                    height: 62px;
                    display:block;
                    width: 100%;
                    label{
                        margin-top:5px;
                    }
                    >div{                       
                        height: 36px;
                        margin-bottom:25px;
                        input{
                            float:left;
                        width: 126px;
                        height: 34px;         
                         }
                        >div{ 
                          float:left; 
                          margin-left:10px;
                          width:112px;
                          height:30px;
                          background:url('../img/register.png') 0 0 no-repeat;  
                       
                         
                        }           
                   
                   
                    }
                    
                }
                .ckbox{
                    height:12px;
                    padding:12px 0px;
                    text-align:center;
                    padding-left:34px;
                }
                .btn{
                   
                    margin:0 auto;
                    button{ 
                    margin-left:164px;
                    width: 228px;                    
                    height: 40px;
                    background:url('../img/register.png') 0px -30px no-repeat;
                
                    }
                    
                }
                p:nth-last-child(2){
                    margin-top:20px;
                    text-align:center;
                    padding:5px 0;
                }
                >ul{
                    padding-left:166px;
                    li{
                        float:left;
                        margin-right:10px;
                        img{
                           display:block;
                            width: 24px;
                            height: 24px; 
                        }

                    }
                    li:nth-child(1){
                        img{                         
                            background:url('../img/register.png') 0px -300px no-repeat;
                        }
                        
                    }
                    li:nth-child(2){
                        img{                         
                            background:url('../img/register.png') -27px -300px no-repeat;
                        }
                        
                    }
                    li:nth-child(3){
                        img{                         
                            background:url('../img/register.png') -57px -300px no-repeat;
                        }
                        
                    }
                }

            }
            .info_r{
                float:left;
                width: 502px;
                img{
                    display:block;
                    height: 300px;
                    width: 340px;
                    background:url('../img/info1.jpg') no-repeat;
                    margin:40px auto;
                }
            }
            
       }
       // 登录信息
       .log_info{
            display:none;
            @extend .reg_info;
            .info_r img{
                background:url('../img/info2.jpg');
            }
            .info_l {
                position:relative;
                margin-top:20px;
                label{
                    width: 80px;
                }
                i{
                    right:147px;
                    background:url('../img/register.png') -126px -8px;
                }
                .notice_user{
                    left:80px;
                    top:77px;
                    @extend .notice;
                    
                }
                .notice_psw{
                    left:80px;
                    top:140px;
                    @extend .notice;
                  
                }
                .ps i{
                     background:url('../img/register.png') -159px -8px; 
                }
                .check {
                    position:relative;
                     i{
                    top:14px;
                    background:url('../img/all.png') -320px -50px no-repeat;
                }
                }
                   
                .ckbox{
                    text-align:left;
                    margin-left:45px;
                    a{
                        margin-left:5px;
                        color:#81E1FF;
                        font-soie:12px;
                    }
                }
                .btn button{
                    margin-left:78px;
                    background:url('../img/register.png') 0px -329px no-repeat;
                }
                p:nth-last-child(2){
                    text-align:left;
                    margin-left:78px;
                }
                >ul{
                    padding-left:78px;
                }
              }
           }
    }
}