.container {
  width: 1240px;
}

.l_right {
  float: right;
  margin-top: 28px;
}

.l_right .r_content {
  border: 1px solid #FF5C00;
  position: relative;
  height: 42px;
  width: 154px;
  background-color: #FF5C00;
  color: #fff;
  line-height: 42px;
  border-radius: 3px;
}

.l_right .r_content i {
  font-size: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0 10px;
}

.l_right .r_content a {
  float: left;
  margin-left: 40px;
  padding: 0 10px;
  color: #FFF;
  font-size: 14px;
}

.l_right .r_content span {
  font-size: 14px;
  position: relative;
  float: right;
  margin: 1px;
  height: 40px;
  width: 36px;
  background-color: #fff;
  color: #FF5C00;
  text-align: center;
}

.l_right .r_content span::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -15px;
  border: 8px solid transparent;
  border-right-color: #fff;
}

#footer .f_top li {
  padding-left: 0;
}

#main .container {
  width: 1200px;
}

#main .m_nav {
  width: 100%;
}

#main .m_nav ul li {
  float: left;
  font-size: 12px;
  line-height: 40px;
  padding-right: 10px;
}

#main .m_nav ul li i {
  padding: 0 3px;
}

#main .m_nav li:first-child {
  color: #000;
  font-weight: bold;
}

#main .m_content {
  height: 474px;
  border: 1px solid #DEDEDE;
  display: flex;
}

#main .m_content > div {
  border-right: 1px solid #DEDEDE;
}

#main .m_content .c_left {
  width: 350px;
}

#main .m_content .c_left .img {
  width: 350px;
  height: 350px;
  float: left;
}

#main .m_content .c_left .img > img {
  width: 350px;
  height: 350px;
}

#main .m_content .c_left .carou {
  height: 62px;
}

#main .m_content .c_left .carou > div {
  width: 20px;
  height: 20px;
  margin-top: 19px;
}

#main .m_content .c_left .carou .last {
  background: url("../img/details.png") -150px -150px no-repeat;
}

#main .m_content .c_left .carou .next {
  background: url("../img/details.png") -190px -150px no-repeat;
}

#main .m_content .c_left .carou > ul {
  float: left;
  width: 310px;
  height: 55px;
}

#main .m_content .c_left .carou > ul li {
  float: left;
  width: 53px;
  height: 53px;
  border: 1px solid #DEDEDE;
  margin-left: 7px;
}

#main .m_content .c_left .carou > ul li img {
  width: 53px;
  height: 53px;
}

#main .m_content .c_left .share {
  height: 62px;
}

#main .m_content .c_left .share .icon {
  float: left;
  width: 213px;
  margin: 18px 0 0 18px;
  border-right: 1px solid #DEDEDE;
}

#main .m_content .c_left .share .icon a {
  float: left;
  margin: 0 4px;
  display: block;
  height: 25px;
  width: 25px;
  background: url("../img/icons.png") 0 0 no-repeat;
}

#main .m_content .c_left .share .icon a:nth-child(2) {
  background: url("../img/icons.png") 0 -1610px no-repeat;
}

#main .m_content .c_left .share .icon a:nth-child(3) {
  background: url("../img/icons.png") 0 -105px no-repeat;
}

#main .m_content .c_left .share .icon a:nth-child(4) {
  background: url("../img/icons.png") 0 -260px no-repeat;
}

#main .m_content .c_left .share .icon a:nth-child(5) {
  background: url("../img/icons.png") 0 -51px no-repeat;
}

#main .m_content .c_left .share .icon a:nth-child(6) {
  background: url("../img/icons.png") 0 -363px no-repeat;
}

#main .m_content .c_left .share > a {
  margin-right: 10px;
  margin-top: 10px;
  float: right;
  width: 90px;
  height: 38px;
  display: block;
  background: url(../img/fav.jpg) -10px -38px no-repeat;
}

#main .m_content .c_mid {
  width: 635px;
  border-right: 1px solid #DEDEDE;
  padding: 15px 10px 0px;
}

#main .m_content .c_mid > li {
  border-bottom: 1px dotted #DEDEDE;
}

#main .m_content .c_mid .name {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  line-height: 28px;
}

#main .m_content .c_mid .details {
  font-size: 18px;
  color: #FF5C00;
  font-weight: bold;
}

#main .m_content .c_mid .send {
  align-height: 23px;
}

#main .m_content .c_mid .send i {
  font-size: 24px;
  color: #FF5C00;
}

#main .m_content .c_mid .pro > li > span {
  text-align: right;
  width: 60px;
  float: left;
  margin-right: 20px;
}

#main .m_content .c_mid .pro li:first-child {
  height: 40px;
  line-height: 40px;
}

#main .m_content .c_mid .pro li:first-child .p3_c {
  float: right;
  width: 552px;
  color: #DE1010;
  font-size: 20px;
  line-height: 40px;
}

#main .m_content .c_mid .pro li:first-child .p3_c span {
  font-weight: bold;
}

#main .m_content .c_mid .pro > li:last-child {
  height: 75px;
  width: 585px;
}

#main .m_content .c_mid .pro > li:last-child > span {
  height: 75px;
  float: left;
}

#main .m_content .c_mid .pro > li:last-child .promotion {
  float: left;
  height: 75px;
  width: 505px;
}

#main .m_content .c_mid .pro > li:last-child .promotion li p {
  position: relative;
  float: left;
  height: 37px;
  text-align: center;
  padding-left: 52px;
}

#main .m_content .c_mid .pro > li:last-child .promotion li p > i {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 46px;
  height: 20px;
  background: url("../img/details.png") 0 -411px no-repeat;
}

#main .m_content .c_mid .pro > li:last-child .promotion li span {
  position: relative;
  color: #0361D8;
  float: right;
}

#main .m_content .c_mid .pro > li:last-child .promotion li span i {
  color: #000;
  position: absolute;
  top: 0px;
  right: -17px;
}

#main .m_content .c_mid .pro > li:last-child .promotion > li:nth-child(2) p i {
  top: -2px;
  background: url("../img/details.png") 0 -430px no-repeat;
}

#main .m_content .c_mid > li:nth-child(2) {
  height: 90px;
}

#main .m_content .c_mid > li:nth-child(2) > div {
  height: 37px;
  padding-top: 8px;
}

#main .m_content .c_mid > li:nth-child(2) > div span {
  text-align: right;
  width: 60px;
  float: left;
  margin-right: 20px;
}

#main .m_content .c_mid > li:nth-child(2) > div p {
  position: relative;
  float: left;
  width: 34px;
  padding: 5px 10px;
  border: 1px solid #FF5C00;
}

#main .m_content .c_mid > li:nth-child(2) > div p i {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/selected.png") no-repeat;
}

#main .m_content .c_mid > li:nth-child(3) {
  padding-left: 80px;
  width: 545px;
  height: 76px;
  border-bottom: 0;
}

#main .m_content .c_mid > li:nth-child(3) .num {
  padding: 17px 0;
  height: 42px;
}

#main .m_content .c_mid > li:nth-child(3) .num li {
  margin-right: 8px;
  float: left;
  height: 40px;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(1) {
  width: 63px;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(1) input {
  float: left;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border: 1px solid #DEDEDE;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(1) p {
  float: right;
  width: 21px;
  height: 42px;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(1) p i {
  display: block;
  width: 20px;
  height: 21px;
  background: url("../img/details.png") -230px -310px no-repeat;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(1) p i:nth-child(2) {
  background: url("../img/details.png") -230px -330px no-repeat;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(2) {
  width: 148px;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(2) button {
  display: block;
  width: 148px;
  height: 41px;
  background: url("../img/details.png") 0 -64px no-repeat;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(3) {
  position: relative;
  width: 122px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  color: #EC555E;
  font-weight: bold;
}

#main .m_content .c_mid > li:nth-child(3) .num > li:nth-child(3) i {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 20px;
}

#main .m_content .c_right {
  width: 193px;
}

#main .m_content .c_right .r_top dl {
  width: 193px;
  height: 70px;
  display: flex;
}

#main .m_content .c_right .r_top dl dt {
  flex: 1;
}

#main .m_content .c_right .r_top dl dt img {
  margin: 15px auto;
  display: block;
  width: 35px;
  height: 30px;
  background: url("../img/details.png") 0 -148px no-repeat;
}

#main .m_content .c_right .r_top dl dt a {
  padding-left: 8px;
}

#main .m_content .c_right .r_top dl dt:nth-child(2) img {
  background: url("../img/details.png") -39px -148px no-repeat;
}

#main .m_content .c_right .r_top dl dt:nth-child(3) img {
  background: url("../img/details.png") -78px -148px no-repeat;
}

#main .m_content .c_right .r_center {
  height: 63px;
}

#main .m_content .c_right .r_center img {
  margin: 15px auto;
  display: block;
  width: 100px;
  height: 42px;
}

#main .m_content .c_right .r_bot {
  width: 177px;
  margin: 0 8px;
  border-top: 1px solid #DEDEDE;
}

#main .m_content .c_right .r_bot p {
  font-size: 14px;
  line-height: 40px;
  color: #317EE7;
  text-align: right;
  padding-right: 10px;
}

#main .m_content .c_right .r_bot > div {
  height: 30px;
  padding-top: 7px;
  position: relative;
}

#main .m_content .c_right .r_bot > div i {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/details.png") 0 -214px no-repeat;
}

#main .m_content .c_right .r_bot > div p {
  height: 30px;
  width: 90px;
  margin-left: 37px;
  background: url("../img/details.png") -98px -278px no-repeat;
}

#main .infos {
  padding-top: 18px;
}

#main .infos .d_left {
  float: left;
  width: 202px;
  height: 100%;
  margin-right: 7px;
}

#main .infos .d_left .l_top {
  padding-left: 55px;
  height: 168px;
  border: 1px solid #DEDEDE;
}

#main .infos .d_left .l_top img {
  margin-top: 17px;
}

#main .infos .d_left .l_top p {
  width: 100px;
  text-align: center;
}

#main .infos .d_left .histry {
  margin-top: 20px;
  border: 1px solid #DEDEDE;
}

#main .infos .d_left .histry p {
  background-color: #DDDDDD;
  line-height: 30px;
  padding-left: 5px;
}

#main .infos .d_left .histry ul {
  height: 100%;
}

#main .infos .d_right {
  float: right;
  width: 990px;
}

#main .infos .d_right .r_nav {
  margin-top: 2px;
  height: 38px;
}

#main .infos .d_right .r_nav ul {
  height: 36px;
  border: 1px solid #DEDEDE;
  border-top: 2px solid #999999;
  border-bottom: 0;
}

#main .infos .d_right .r_nav ul li {
  float: left;
}

#main .infos .d_right .r_nav ul li span {
  display: block;
  line-height: 36px;
  padding: 0 10px;
}

#main .infos .d_right .r_nav ul .hover {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #FF5C00;
  border-left: 1px solid #FF5C00;
  margin-top: -3px;
  border-top: 3px solid #FF5C00;
}

#main .infos .d_right .r_content .intro .informate {
  width: 990px;
  border: 1px solid #DEDEDE;
}

#main .infos .d_right .r_content .intro .informate > ul {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

#main .infos .d_right .r_content .intro .informate > ul li {
  overflow: hidden;
  float: left;
  width: 323.3px;
  height: 36px;
  line-height: 36px;
}

#main .infos .d_right .r_content .intro .informate > ul li span {
  height: 36px;
}

#main .infos .d_right .r_content .intro .all_detail {
  margin-top: 20px;
}

#main .infos .d_right .r_content .intro .all_detail > img {
  display: block;
  width: 750px;
  margin: 0 auto;
}

#main .infos .d_right .r_content .crizity {
  display: none;
  background-color: #ddd;
  height: 600px;
}

#main .infos .d_right .r_content .consult {
  display: none;
  background-color: #f00;
  height: 600px;
}

#main .infos .d_right .r_content .quality {
  display: none;
  background-color: #58bc58;
  height: 600px;
}
