#banner {
  height: 350px;
  background-color: #E9E9E9;
}

#banner .box {
  height: 360px;
}

#main {
  background-color: #E9E9E9;
}

#main .m_top {
  height: 152px;
  padding-top: 20px;
  display: flex;
}

#main .m_top li {
  flex: 1;
  border: 1px solid #E9E9E9;
  margin-right: 16px;
}

#main .m_top li:last-child {
  margin-right: 0;
}

#main .m_top :hover {
  border-color: #FF5C00;
}

#main .topPic {
  height: 78px;
  display: flex;
}

#main .topPic .title {
  display: inline;
  text-align: center;
}

#main .topPic .title p {
  color: #000;
  height: 28px;
  margin-top: 30px;
  font-size: 28px;
  padding: 0 36px;
}

#main .topPic .title p span {
  font-size: 28px;
  color: #FF5C00;
}

#main .topPic .title span {
  font-size: 10px;
  color: #9F9D99;
}

#main .topPic > span {
  flex: 1;
  border-bottom: 1px solid #CCCCCC;
  height: 38px;
}

#main .content li {
  border-radius: 8px;
  border: 1px solid #E9E9E9;
  background-color: #fff;
  height: 300px;
  margin-bottom: 20px;
}

#main .content li .left {
  float: left;
}

#main .content li .left img {
  border-radius: 8px 0 0 8px;
  width: 600px;
  height: 300px;
}

#main .content li .right {
  float: right;
  width: 458px;
  padding: 14px 10px 0 20px;
  color: #666666;
}

#main .content li .right .name {
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  border-bottom: 1px solid #E5E5E5;
}

#main .content li .right .details {
  margin-top: 14px;
  height: 71px;
}

#main .content li .right .details span {
  padding-bottom: 10px;
}

#main .content li .right .site {
  padding-left: 30px;
  position: relative;
  color: #999999;
  height: 17px;
  padding-bottom: 10px;
}

#main .content li .right .site i {
  position: absolute;
  top: -3px;
  left: 0px;
  color: #FF5C00;
  font-size: 32px;
}

#main .content li .right .last {
  font-weight: bold;
  height: 60px;
}

#main .content li .right .last p {
  padding-top: 23px;
  float: left;
  display: inline;
  font-size: 30px;
  color: #DF2943;
}

#main .content li .right .last p span {
  font-size: 16px;
}

#main .content li .right .last .enter {
  padding: 10px 0;
  text-align: center;
  float: right;
  background-color: #FF5C00;
  color: #fff;
  height: 40px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
}

#main .content li:last-of-type {
  margin-bottom: 0 !important;
}

#main .content li:hover {
  border-color: #FF5C00;
}

#main .brands .b_bot {
  background-color: #fff;
  height: 321px;
}

#main .brands .b_bot .b_left {
  height: 320px;
  float: left;
  width: 368px;
}

#main .brands .b_bot .b_left img {
  box-size: border-box;
  height: 158px;
  border: 1px solid #CCCCCC;
  width: 368px;
}

#main .brands .b_bot .b_left :hover {
  border-color: #FF5C00;
}

#main .brands .b_bot .b_right {
  float: right;
  width: 720px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
}

#main .brands .b_bot .b_right li {
  border-collapse: collapse;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  flex: 25%;
  height: 80px;
}

#main .brands .b_bot .b_right li img {
  margin: 20px 39px;
}

#main .brands .b_bot .b_right :hover {
  border-color: #FF5C00;
}

#fixed-top {
  display: none;
  border: 1px solid #FF5C00;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 47px;
  width: 100%;
  z-index: 1000px;
  background-color: #fff;
}

#fixed-top img {
  margin-top: 12px;
  float: left;
}

#fixed-top .clone_nav, #fixed-top .clone_nav li {
  float: left;
  z-index: 100;
}

#fixed-top .clone_nav li {
  line-height: 47px;
  padding: 0 20px;
  height: 35px;
  color: #FF5C00;
  font-weight: bold;
  font-size: 14px;
}

#fixed-top .clone_nav li:nth-child(3) {
  padding: 0 20px;
  position: relative;
  padding: 0;
}

#fixed-top .clone_nav li:nth-child(3) span {
  height: 33px;
  border: 1px solid #fff;
  display: block;
  padding: 0 20px;
}

#fixed-top .clone_nav li:nth-child(3) span:hover {
  border-color: #FF5C00;
  border-bottom-color: #FFF;
  border-top: #fff;
}

#fixed-top .clone_nav li:nth-child(3) p {
  display: none;
  background-color: #fff;
  border: 1px solid #FF5C00;
  border-top: #fff;
  position: absolute;
  top: 34px;
  left: 0px;
  width: 96px;
  text-align: center;
}

#fixed-top .clone_nav li:nth-child(3):hover p {
  display: block;
}

#fixed-top .s_top {
  float: right;
  margin-top: 3px;
}

#fixed-top .s_top input {
  float: right;
  width: 349px;
}
